@import "../fonts";

.about-wrapper {
  position: relative;
  padding: 30px;
  margin-top: 30px;

  &::before {
    z-index: 2;
    content: "";
    width: 16px;
    left: 600px;
    top: -2px;
    transform: rotate(-9deg) translateX(-40px);
    height: calc(100% + 2px);
    background-color: #00852f;
    position: absolute;
  }

  &.about-wrapper-red {
    &::before {
      background-color: #c42d1f;
    }
  }
}

.about {
  position: relative;
  height: 780px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  background-color: #000000;
  overflow: hidden;

  > .block {
    position: absolute;
    height: inherit;
  }

  > .block.left {
    left: 0;
    width: 600px;
    height: 100%;
    overflow: hidden;
  }

  > .block.right {
    right: 0;
    width: calc(100% - 530px);
    transform: skew(9deg);
    height: 100%;
    background-color: #000000;

    .header {
      font-size: 60px;
      display: block;
      border-bottom: 5px solid #ffffff;
      color: #ffffff;
      @include font-nova;
      padding: 40px 30px 15px 0;
      max-width: 80%;
    }

    .description {
      color: #ffffff;
      font-size: 28px;
      @include font-myanmar;
      margin-top: 50px;
      padding-right: 30px;
      line-height: 1.2;
      padding-right: 15px;
    }

    .offer {
      color: #ffffff;
      font-size: 50px;
      @include font-nova;
      margin-top: 70px;
      padding-right: 15px;
    }

    .list {
      color: #ffffff;
      font-size: 30px;
      @include font-nova;
      margin-top: 30px;
      line-height: 1.2;
      padding-right: 15px;

      span {
        font-family: sans-serif;
      }
    }

    .book-link {
      background-color: #c42d1f;
      margin-left: -65px;
      transform: translateX(5px);
      text-decoration: none;
      padding: 15px 50px;
    }

    .book-link,
    .book-text {
      color: #ffffff;
      font-size: 30px;
      @include font-nova;
      margin-top: 70px;
      display: inline-block;
    }
  }

  > .block > .background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  > .block.right > .background {
    transform: skew(-9deg);
  }

  > .block > .link {
    position: absolute;
    top: 80%;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
    color: #302015;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.9);
    transform: skew(-9deg) translateY(-50%);
  }

  > .block.left > .link {
    right: 0;
  }

  > .block.right > .link {
    left: 0;
  }

  &-small {
    height: 400px;

    ul {
      text-transform: uppercase;
    }

    .box {
      padding-left: 40px;
    }

    > .block.right {
      .offer {
        margin-top: 50px;
      }
    }
  }
}

.shape {
  float: left;
  width: 200px;
  height: 800px;
  shape-outside: polygon(0% 10%, 17% 10%, 81% 107%, 57% 104%) content-box;
  shape-image-threshold: 0.4;
  margin-left: -25px;
}

@media (min-width: 991px) and (max-width: 1300px) {
  .about-wrapper {
    padding: 0;

    &::before {
      left: 355px;
      top: -30px;
      transform: rotate(-9deg) translateX(-40px);
      height: calc(100% + 60px);
    }
  }

  .about {
    .block.right {
      width: calc(100% - 320px);

      .offer {
        margin-top: 44px;
      }

      .description {
        margin-top: 30px;
      }
      .book-link {
        margin-top: 30px;
        font-size: 28px;
      }
    }

    .block.left {
      width: 400px;
    }

    .block {
    }
  }
}

@media (max-width: 990px) {
  .about-wrapper {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .about {
    height: auto;
    padding: 20px;
    .block.right {
      width: 100%;
      position: static;

      .header {
        max-width: 100%;
      }
    }

    .block.left {
      display: none;
    }

    .block {
      .background {
        position: static;
      }
    }

    .shape {
      display: none !important;
    }

    .book-link {
      margin: 30px 0 0 !important;
      text-align: center;
      padding: 10px 25px !important;
    }
  }
}
