@import "../fonts";

.banner {
  &-close {
    display: none;
  }
  &-collapse {
    display: none;
    width: 32px;
    &::before,
    &::after {
      content: "";
    }
    &::before,
    &::after,
    span {
      display: block;
      height: 3px;
      background-color: #000000;
      margin-top: 5px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 42px 40px;
  }

  &-logo {
    max-width: 280px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-menu {
    &-backdrop {
      display: none;
    }
    &-list {
      a {
        @include font-myanmar;
        color: #000000;
        font-size: 24px;
        text-decoration: none;
        padding: 12px 18px 0;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 18px;

        &.active {
          color: #ffffff;
          background-color: #c42d1f;
        }
      }
    }
  }

  &-content {
    margin: 80px;
  }

  &-title {
    @include font-nova;
    &-header {
      font-size: 175px;
      text-transform: uppercase;

      text-align: center;

      &--green {
        color: #00852f;
        margin-top: 20px;
      }
    }

    p {
      font-size: 50px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 70px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .banner {
    &-content {
      margin: 40px 80px;
    }

    &-logo {
      max-width: 180px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-menu {
      &-list {
        a {
          padding: 12px 10px 0;
          margin: 0 10px;
          font-size: 20px;
        }
      }
    }
    &-title {
      &-header {
        font-size: 120px;
      }

      p {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 767px) {
  .banner {
    &-title {
      &-header {
        font-size: 80px;
      }

      p {
        font-size: 40px;
      }
    }

    &-content {
      margin: 40px 20px;
    }

    &-header {
      padding: 20px;
      position: relative;
    }

    &-logo {
      max-width: 140px;
    }

    &-collapse {
      display: inline-block;
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #000000;
      z-index: 1;
      display: block;
      font-size: 30px;
    }

    &-menu {
      &-backdrop {
        position: absolute;
        width: 100%;
        top: 100%;
        height: 1000px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }

      &-list {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
        position: absolute;
        top: -300px;
        left: 0;
        width: 100%;
        background-color: #fff;

        a {
          display: block;
          margin: 22px 0;
        }

        &.open {
          top: 0;

          .banner-menu-backdrop {
            display: block;
          }
        }
      }
    }
  }
}
